

.home button{
    background-color: var(--icons-color);
    margin: 3rem 3rem;
    padding: .5rem;
    display: flex;
    border: 1px solid var(--icons-color);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: all .2s ease-in;
    align-items: center;
    color: var(--shadow-light-color);
    gap: .5rem;
}

.form_container {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 5rem;
    border: 1px solid white;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(235, 219, 219);
    margin-bottom: 5rem;
    gap: 1.5rem;
}

.title {
    font-size: 2.5rem;
    margin-left: -10px;
    padding-bottom: 2rem;
    text-decoration: underline;
}

.form_container input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.login_email {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login_Npword {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login_Cpword {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login_email label {
    font-size: 20px;
    margin-bottom: 5px;
}

.login_Npword label {
    font-size: 20px;
    margin-bottom: 5px;
}

.login_Cpword label {
    font-size: 20px;
    margin-bottom: 5px;
}

.login_submit_button input[type="submit"] {
    padding: 7px 120px;
    margin-top: 1rem;
    background-color: yellowgreen;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

.login_submit_button input[type="submit"]:hover {
    background-color: rgb(187, 95, 95);
}

